body {
    background-color: #000000;
    height: 100%;
    width: 100%;
    margin: 0px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

#input {
    position: fixed;
    font-size: 100px;
    top: -200px;
    display: none;
}

#content {
    width: 100%;
    height: 100%;
    margin: 0px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

#test {
    width: 100%;
    height: 2000px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}

.wiener_popup {
    z-index: 100;
    max-height: 80%;
    height: auto;
    max-width: 100%;
    padding: 2%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0px;
}

.wiener_popup .gameresult{
    position: relative;
    width: 96%;
    text-align: center;
}

.wiener_popup p{
    background: white;
    padding: 50px;
}

.wiener_popup .gameresult img{
    width: 100%;
}

.wiener_debugMenu {
    position: fixed;
    opacity: 0;
    top: 0px;
    left: 0px;
    font-size: 25px;
}

.wiener_debugMenu.wiener_debugMenu_opened {
    opacity: 1;
}

.wiener_debugMenu:hover {
    opacity: 1;
}

.wiener_debugMenu_fps {
    position: fixed;

    top: 0px;
    left: 0px;
    font-size: 30px;
}

.wiener_debugMenu_opened .wiener_debuContent {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 200px);
}

.wiener_debugMenu_closed .wiener_debuContent {
    display: none;
}

.wiener_debugMenu_closed .wiener_debugBtn {
    opacity: 0.5;
}

.wiener_icon {
    margin-top: 36%;
}

.wiener_debug_item {
    padding: 5%;
    pointer-events: all;
    cursor: pointer;
    width: 300px;
    /* height: 80px; */
    background-color: #a96e6e;
}

.wiener_debugBtn {
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: #8c7b7bd9;
    pointer-events: all;
}

#fullscreen {
    width: 100vw;
    height: 155vh;
    position: absolute;
    z-index: 500;
}

#fullscreenAnimation {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 501;
    background: rgba(35, 35, 35, 0.90);
}

